.boton::before{
    background-color: gray;
    color: black;
    
}

.boton::before{
    content: 'Pasa por encima';
    
}
.boton:hover{
    background-color: green;
    color: white;
    
}



.boton:hover::before{
    content: 'Hecho';
}
