@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');


html {
    font-family: 'Ubuntu', sans-serif;
    background-color: #161717;
    color: white;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 450px;
    
}

.google-btn {
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.botones {
    /**align-self: flex-start;*/
    display: flex;
    gap: 20px;
}

.google-btn picture {
    width: 36px;
    background-color: white;
    height: 36px;
    border-radius: 2px;
    align-items: center;
}

.google-btn picture img {
    width:32px;


}

.twitter-btn picture img {
    width:40px;


}

.twitter-btn{
    background-color: none;
    border: none;
    width: 0px;
    cursor: pointer;
    padding: 0;

}



.twitter-btn:hover{
    opacity: 0.6;
}

.google-btn span {

    color: white;
    font-weight: 500;
    padding: 15px;
}

.google-btn:hover {
    opacity: 0.6;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;

}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span {
    color: #8b8b8b;
}

.in {
    display: flex;
    gap: 10px;
    width: 100%;
}

.other-input {
    display: flex;
    gap: 10px;
    width: 100%;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-items: stretch;
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.in label input {
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.check {
    display: flex;
    flex-direction: row;

}

.check input[type="checkbox"]{
    width: 20px;
}

.check span {
    font-weight: 400;
}

.other-input label input {
    width: 90%;
    background-color: #212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label span {
    font-weight: 700;
}

label input:hover{
    background-color: #454045;
    border: solid 1px white;
    box-shadow: 0 0 4px grey;
}

label input:focus{
    background-color: white;
    border: solid 1px white;
    box-shadow: 0 0 4px grey;
}

.button {
    background-color: #1A73E8;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    opacity: 75%;
}

