.contenedor {
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    min-height: 5rem;
    justify-content:space-evenly;
    align-items: center; /*eje secundario Y */
    /*flex-direction: column;  Coloca item en una sola columna */
}

.principal {
    background-color: greenyellow;
    padding: 2rem;
    width: 50rem;
}

.lateral {
    background-color: lightcoral;
    padding: 0.25rem;
    width: 6rem;
}

@media screen and (max-width:640px) {
    .contenedor {
        background-color: gray;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .principal{
        background-color: lightgoldenrodyellow;
        width: 100%;
    }
    .lateral {
        background-color: lightblue;
        padding: 0.25rem;
        width: 6rem;
        flex-direction: initial;
    }
}
